<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>920</key>
	<dict>
		<key>name</key>
		<string>SX814C</string>
		<key>has-cooler</key>
		<true/>
		<key>sensor-size</key>
		<string>{12.5,10.0}</string>
	</dict>
	<key>408</key>
	<dict>
		<key>name</key>
		<string>SX814</string>
		<key>has-cooler</key>
		<true/>
		<key>sensor-size</key>
		<string>{12.5,10.0}</string>
	</dict>
	<key>1289</key>
	<dict>
		<key>name</key>
		<string>SuperStar (Mono)</string>
		<key>image</key>
		<string>superstar</string>
		<key>sensor-size</key>
		<string>{6.4,4.75}</string>
	</dict>
	<key>261</key>
	<dict>
		<key>name</key>
		<string>SXVF-M5</string>
		<key>interlaced</key>
		<true/>
	</dict>
	<key>773</key>
	<dict>
		<key>name</key>
		<string>SXVF-M5C</string>
	</dict>
	<key>263</key>
	<dict>
		<key>name</key>
		<string>SXVF-M7</string>
		<key>interlaced</key>
		<true/>
	</dict>
	<key>775</key>
	<dict>
		<key>name</key>
		<string>SXVF-M7C</string>
		<key>interlaced</key>
		<true/>
	</dict>
	<key>776</key>
	<dict>
		<key>name</key>
		<string>SXVF-M8C</string>
	</dict>
	<key>265</key>
	<dict>
		<key>name</key>
		<string>SXVF-M9</string>
		<key>interlaced</key>
		<true/>
		<key>sensor-size</key>
		<string>{8.98,6.7}</string>
	</dict>
	<key>805</key>
	<dict>
		<key>name</key>
		<string>SXVR-M25C</string>
		<key>has-cooler</key>
		<true/>
		<key>image</key>
		<string>H25</string>
		<key>sensor-size</key>
		<string>{23.4,15.6}</string>
	</dict>
	<key>806</key>
	<dict>
		<key>name</key>
		<string>SXVR-M26C</string>
		<key>interlaced</key>
		<true/>
		<key>has-cooler</key>
		<true/>
		<key>sensor-size</key>
		<string>{23.4,15.6}</string>
	</dict>
	<key>296</key>
	<dict>
		<key>name</key>
		<string>SXVR-H18</string>
		<key>flush-count</key>
		<integer>2</integer>
	</dict>
	<key>294</key>
	<dict>
		<key>name</key>
		<string>SXVR-H16</string>
		<key>flush-count</key>
		<integer>2</integer>
		<key>sensor-size</key>
		<string>{15.15,15.15}</string>
	</dict>
	<key>309</key>
	<dict>
		<key>name</key>
		<string>SXVR-H35</string>
		<key>image</key>
		<string>H36</string>
		<key>has-cooler</key>
		<true/>
		<key>flush-count</key>
		<integer>2</integer>
		<key>sensor-size</key>
		<string>{36.3,24.2}</string>
	</dict>
	<key>310</key>
	<dict>
		<key>name</key>
		<string>SXVR-H36</string>
		<key>image</key>
		<string>H36</string>
		<key>has-cooler</key>
		<true/>
		<key>flush-count</key>
		<integer>2</integer>
		<key>sensor-size</key>
		<string>{36.3,24.2}</string>
	</dict>
	<key>281</key>
	<dict>
		<key>name</key>
		<string>SXVR-H9</string>
		<key>has-cooler</key>
		<true/>
		<key>sensor-size</key>
		<string>{8.98,6.7}</string>
	</dict>
	<key>793</key>
	<dict>
		<key>name</key>
		<string>SXVR-H9C</string>
		<key>has-cooler</key>
		<true/>
		<key>sensor-size</key>
		<string>{8.98,6.7}</string>
	</dict>
	<key>1287</key>
	<dict>
		<key>name</key>
		<string>Lodestar</string>
		<key>image</key>
		<string>lodestar</string>
		<key>interlaced</key>
		<true/>
		<key>sensor-size</key>
		<string>{6.4,4.75}</string>
	</dict>
	<key>372</key>
	<dict>
		<key>name</key>
		<string>SXVR-H674</string>
		<key>image</key>
		<string>H694</string>
		<key>has-cooler</key>
		<true/>
		<key>sensor-size</key>
		<string>{8.81,6.63}</string>
	</dict>
	<key>884</key>
	<dict>
		<key>name</key>
		<string>SXVR-H674C</string>
		<key>image</key>
		<string>H694</string>
		<key>has-cooler</key>
		<true/>
		<key>sensor-size</key>
		<string>{8.81,6.63}</string>
	</dict>
	<key>404</key>
	<dict>
		<key>name</key>
		<string>SXVR-H694</string>
		<key>image</key>
		<string>H694</string>
		<key>has-cooler</key>
		<true/>
		<key>sensor-size</key>
		<string>{12.49,9.99}</string>
	</dict>
	<key>916</key>
	<dict>
		<key>name</key>
		<string>SXVR-H694C</string>
		<key>image</key>
		<string>H694</string>
		<key>has-cooler</key>
		<true/>
		<key>sensor-size</key>
		<string>{12.49,9.99}</string>
	</dict>
	<key>1317</key>
	<dict>
		<key>name</key>
		<string>Ultrastar</string>
		<key>sensor-size</key>
		<string>{8.9,6.7}</string>
	</dict>
	<key>1817</key>
	<dict>
		<key>name</key>
		<string>Lunt Solar Imager</string>
		<key>has-cooler</key>
		<true/>
		<key>sensor-size</key>
		<string>{8.98,6.7}</string>
	</dict>
	<key>2336</key>
	<dict>
		<key>name</key>
		<string>Filter Wheel</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
</dict>
</plist>
