<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>latest</key>
	<string>1.0.5</string>
	<key>path</key>
	<string>sx-io_v1.0.5/SX.IO.v1.0.5.app.zip</string>
</dict>
</plist>
